/*------------------------------------------------------------------- /

Template Name: Odop
Template URI: http://www.odop.fr/
Author: Odop
Author URI: http://www.odop.fr/
Description: One Day One Place
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: HTML, Template, Coming Soon, Odop
--------------------------------------------------------------------- */

/* Table of contents
---------------------------------------------------------------------- /
*
*  1 - Import Google Font
*  2 - Global Style
*    2.1 - Next Section
*    2.2 - Social Button
*    2.3 - Placeholder color
*    2.4 - Height Resize
*  3 - Subscribe Section
*  4 - Presentation Section
*  5 - About Us Section
*  7 - Contact Section
*  8 - Media Query
*    9.1 - media screen and (min-width: 768px)
*    9.2 - media screen and (min-width: 992px)
*    9.3 - media screen and (min-width: 1200px)
*
---------------------------------------------------------------------- */


/* 1 - Import Google Font
---------------------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* 2 - Global Style
---------------------------------------------------------------------- */
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00a388;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #00a388;
}

a:focus {
  outline: none;
  outline-offset: inherit;
}

.section-pattern {
  background-color: #03A287;
  background-attachment: inherit;
  background-position: 50% 0;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
  background-size: cover;
}

.pattern {
  position: relative;
  background: rgba(0, 0, 0, .4) url(../images/pattern.png);
  width: 100%;
  height: 100%;
}

.container {
  overflow: hidden;
}

.section-heading {
  position: relative;
}

.section-name {
  font-family: 'Josefin Sans', Sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section-name {
  display: inline-block;
  position: relative;
  padding-bottom: 15px;
  width: 100%;
}

.section-name span:before, .section-name span:after {
  content: "";
  width: 80%;
  height: 10px;
  border-bottom: 1px double #fff;
  position: absolute;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-name span:before {
  bottom: 0;
}

.section-name span:after {
  bottom: 2px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 200%;
  margin: 30px 0 0 0;
}

.section-description {
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}

.form-control {
  padding: 6px 30px;
}

.form-control, .btn {
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none;
  color: #ffffff;
}

.form-control, .form-control:focus {
  border-color: #fff;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* 2.2 - Social Button
------------------------------------------ */

.social-btn-container {
  text-align: center;
  margin-top: 2%;
}

.social-btn-container .social-btn-box {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 15px;
  position: relative;
  overflow: hidden;
}

.social-btn-container .social-btn-box a {
  color: #fff;
  font-size: 26px;
  line-height: 80px;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -10px;
  left: -10px;
}

.social-btn-box, .social-btn-box a {
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.social-btn-box:hover {
  border-color: transparent;
}

.social-btn-box .facebook-btn:hover {
  background: #3B5998;
  color: #fff;
}

.social-btn-box .twitter-btn:hover {
  background: #55ACEE;
  color: #fff;
}

.social-btn-box .linkedin-btn:hover {
  background: #0077b5;
  color: #fff;
}

.social-btn-box .google-plus-btn:hover {
  background: #db514f;
  color: #fff;
}

.social-btn-box .youtube-btn:hover {
  background: #cc181e;
  color: #fff;
}

.social-btn-box .github-btn:hover {
  background: #2b2e30;
  color: #fff;
}

.social-btn-box .a:hover {
  background: #00a388;
  color: #fff;
}

/* 2.3 - Placeholder color
------------------------------------------ */
.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

.form-control:-moz-placeholder {
  color: #ffffff;
}

.form-control::-moz-placeholder {
  color: #ffffff;
}

.form-control:-ms-input-placeholder {
  color: #ffffff;
}

/* 2.4 - Height Resize
------------------------------------------ */

.full-height, .full-height>div, .full-height .row, .full-height .row>div {
  height: 100vh;
}

.pattern.height-resize {
  padding-top: 40px;
}

.height-resize .time-count-container {
  margin-top: 20px !important;
}

.height-resize .team-container .col-sm-4 {
  padding-top: 20px !important;
}

.slideshow {
  position: fixed;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  padding: 0;
}

.slideshow ul {
  list-style: none;
  margin: 0;
}

.slideshow ul:after {
  content: '';
  background: transparent url(../images/pattern.png) repeat top left;
}

.slideshow ul li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 24s linear infinite 0s;
}

.slideshow ul li:nth-child(1) span {
  background-image: url(../images/background/bg-1.jpg)
}

.slideshow ul li:nth-child(2) span {
  background-image: url(../images/background/bg-2.jpg);
  animation-delay: 6s;
}

.slideshow ul li:nth-child(3) span {
  background-image: url(../images/background/bg-3.jpg);
  animation-delay: 12s;
}

.slideshow ul li:nth-child(4) span {
  background-image: url(../images/background/bg-4.jpg);
  animation-delay: 18s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 0
  }
}

/* 4 - Subscribe Section End
---------------------------------------------------------------------- */

#subscribe {
  height: auto;
}

#subscribe .section-heading {
  margin-top: 50px;
}

#subscribe .section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 200%;
  margin: 0;
}

.site-logo {
  text-align: center;
  font-size: 66px;
  font-family: 'Josefin Sans';
  position: relative;
  height: 50%;
  margin-bottom: 50px;
}

.site-logo img {
  width: 100%;
}

.embed-responsive {
  text-align: center;
  margin: 50px auto;
}

.embed-responsive iframe {
  border: none;
}

.row.site-social {
  height: 30%;
}

#subscribe .section-name span:before, #subscribe .section-name span:after {
  content: none;
}


/* 4 - Page Top Section End
---------------------------------------------------------------------- */

#presentation, #about-us, #contact-us {
  margin-top: 35px;
  margin-bottom: 35px;
}

#about-us .section-description {
  margin: 20px 0;
}

#about-us .container {
  height: 100%;
}

.thumbnail {
  padding: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 0 45px;
}

.thumbnail figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 0 15px 0;
  height: auto;
  background: #03A287;
  text-align: center;
  cursor: pointer;
}

.thumbnail figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.thumbnail figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.thumbnail figure figcaption, .thumbnail figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-----------------*/
/***** Hera *****/
/*-----------------*/

figure.effect-hera {
  background: #03A287;
}

figure.effect-hera h2 {
  font-size: 158.75%;
}

figure.effect-hera p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

figure.effect-hera figcaption::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

figure.effect-hera p {
  width: 100px;
  text-transform: none;
  font-size: 121%;
  line-height: 2;
}

figure.effect-hera p a {
  color: #fff;
}

figure.effect-hera p a:hover, figure.effect-hera p a:focus {
  opacity: 0.6;
}

figure.effect-hera p a i {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-hera p a:first-child i {
  -webkit-transform: translate3d(-60px, -60px, 0);
  transform: translate3d(-60px, -60px, 0);
}

figure.effect-hera p a:nth-child(2) i {
  -webkit-transform: translate3d(60px, -60px, 0);
  transform: translate3d(60px, -60px, 0);
}

figure.effect-hera p a:nth-child(3) i {
  -webkit-transform: translate3d(-60px, 60px, 0);
  transform: translate3d(-60px, 60px, 0);
}

figure.effect-hera p a:nth-child(4) i {
  -webkit-transform: translate3d(60px, 60px, 0);
  transform: translate3d(60px, 60px, 0);
}

.thumbnail:hover figure.effect-hera figcaption::before {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

figure.effect-hera:hover p i:empty {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

#about-us .caption {
  border: 1px solid #fff;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

#about-us .thumbnail:hover .caption {
  border: 1px solid #00a388;
}

#about-us .thumbnail:hover .caption {
  background-color: #00a388;
}

.thumbnail h3, .thumbnail p {
  color: #fff;
}

.thumbnail h3 {
  font-weight: 900;
}

/* 6 - Subscribe Section
---------------------------------------------------------------------- */

.subscribe {
  position: relative;
  height: 50px;
}

.subscribe:hover input#subscribe-email, #subscribe-email:focus, input:hover, input:focus, textarea:hover, textarea:focus {
  background-color: #00a388;
}

form.news-letter {
  max-width: 550px;
  margin: auto;
  margin: 30px auto;
  position: relative;
}

form.news-letter .form-control {
  height: 100%;
  padding-right: 75px;
}

form.news-letter .btn {
  width: 60px;
  height: 100%;
  border: 1px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
}

form.news-letter .btn:hover {
  color: #007764;
}

#subscribe-loading {
  display: none;
  line-height: 45px;
  cursor: inherit;
}

#subscribe-loading:hover {
  color: inherit;
}

.subscribe-message {
  text-align: center;
  font-size: 1.125em;
}

.alert-warning {
  color: #ffffff;
  position: absolute;
  background: rgba(52, 152, 219, 1);
  display: none;
  left: 25px;
  bottom: 60px;
  padding: 5px 10px;
  border-radius: 3px;
}

.alert-warning:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px;
  border-color: rgba(52, 152, 219, 1) transparent transparent transparent;
  left: 25px;
  bottom: -24px;
}

/* 6 - Contact Section
---------------------------------------------------------------------- */

#contact-us .section-heading {
  margin-bottom: 50px;
}


/* 9 - Media Query
---------------------------------------------------------------------- */

/* 9.1 - media screen and (max-width: 768px)
------------------------------------------------ */

@media (min-width: 768px) {
  .site-logo img {
    width: 70%;
  }
  .section-name span:before, .section-name span:after {
    width: 60%;
  }
  .form-control {
    margin-bottom: 20px;
  }
  #subscribe .section-title {
    font-size: 200%;
  }
  .thumbnail {
    padding: 0 30px;
  }
}


/* 9.2 - media screen and (max-width: 992px)
------------------------------------------------ */

@media screen and (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 830px;
  }
  .section-name span:before, .section-name span:after {
    width: 40%;
  }
  #subscribe .section-title {
    font-size: 300%;
  }
  #presentation, #about-us, #contact-us {
    height: 100vh;
  }
  .thumbnail {
    padding: 0 60px;
  }
  #contact-us .form-contact {
    margin-bottom: 100px;
  }
}


/* 9.3 - media screen and (max-width: 1200px)
------------------------------------------------ */

@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1140px;
  }
  .section-name span:before, .section-name span:after {
    width: 30%;
  }
}
